// App-specific styles
.hidden {
  display: none !important;
}


main {
  margin: 0 auto;
  width: 100%;
  display: block;
  max-width: 1024px;
  box-shadow: -1px 0px 17px 3px #c8c8c8;
  background-color: #f5f5f5;
}
